.from {
  max-width: 60rem;
  margin: 0 auto;
  /* text-align: center; */
}
.form label {
  margin: 10px 0;
  display: block;
}

form > div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

div.error {
  color: red;
}

button.primary {
  background-color: #f0c040;
  margin-top: 10px;
}
